<!DOCTYPE html>
    <head>
        <title> This is Chat app home page</title>
    </head>

    <body>
        <!-- <h1>Chat Home Page</h1> -->
        <form action="/rooms" method="POST">
            <h1>Chat Home Page</h1>
            <label for="userName">UserName: </label>
            <input type="text" name="userName" required>

            <input type="radio" name="rooms" value="one">
            <label for="roomOne" >Room One</label>

            <input type="radio" name="rooms" value="two">
            <label for="roomTwo" >Room Two</label>

            <input type="radio" name="rooms" value="three">
            <label for="roomThree" >Room Three</label>

            <br> <br>
            <button type="submit"> Submit </button>
        </form>
        <!-- <a href="/rooms" id="roomOne">Enter Room One</a>
        <br>
        <a href="/rooms" id="roomTwo">Enter Room Two</a>
        <br>
        <a href="/rooms" id="roomThree">Enter Room Three </a>
        <br> -->
    </body>

    <script type="module" src="clientIndex.js"></script>
</html>