<!DOCTYPE html>
    <head>
        <title>Please Enter ur username first </title>
    </head>

    <body>
        <!-- <form method="GET" id="getRoom" action="/getData">
            <button>Show Room</button>
        </form> -->

        <form id="form" method="POST">
            <label for="text" id="username">Username: </label>
            <input type="text" id="input">
            <button type="submit" id="button">Submit</button>
        </form>
    </body>

    <script type="module" src="userAsk.js">
        
    </script>
</html>